.crosswordContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .questionBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .inputContainer {
    display: flex;
    gap: 5px;
  }
  
  .inputContainer input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    border: 1px solid var(--foreground);
    background-color: var(--white);
    transition: background-color 0.3s ease;
  }
  
  .correct {
    background-color: var(--blue);
    color: var(--pink);
  }
  