.crosswordContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 75%;
  max-height: 70vh;
  overflow-y: auto;
}

.questionBlock {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputContainer {
  display: flex;
  gap: 0.3rem;
}

.inputContainer input {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid var(--foreground);
  transition: background-color 0.3s ease;
}

.correct {
  background-color: var(--blue);
  font-weight: 600;
}

.characterOnboarding {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crosswordContainer::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.crosswordContainer::-webkit-scrollbar-track {
  background: var(--foreground);
}

.crosswordContainer::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 3px;
  border: 2px solid var(--blue);
}


.container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.characterOnboarding img {
  width: 70px;
}

@media (min-width: 667px) and (max-width: 1024px)  {
  .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .crosswordContainer {
    width: 100%;
    overflow-y: hidden;
  }
}

@media (max-width: 667px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .crosswordContainer {
    width: 100%;
    overflow-y: hidden;
  }
}