@import "tailwindcss";

:root {
  --background: #020723;
  --foreground: #BDCEFF;

  --pink: #DF1388;
  --blue: #0045BE;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-schibsted-grotesk);
  font-size: 0.82rem;
}

main {
  margin: 1rem 5rem;
}

h1 {
  font-family: var(--font-pixelfy-sans);
  font-size: 1.5rem;
}

h2 {
  font-family: var(--font-pixelfy-sans);
  font-size: 1rem;
}

h3 {
  font-family: var(--font-pixelfy-sans);
  font-size: 0.8rem;
}

/* Large screens */
@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2rem;
    text-align: center;
  }
  
  h3 {
    font-size: 1.5rem;
  }

  main {
    margin: 2rem 15rem;
  }
}

/* Medium screens */
@media (min-width: 667px) and (max-width: 1024px)  {
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1rem;
  }

  main {
    margin: 2rem 10rem;
  }
}

/* Small screens */
@media (max-width: 667px) {}