.hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.helloSpan {
    color: var(--pink);
}

.characterOnboarding {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.characterOnboarding div {
    background-color: var(--pink);
    padding: 0.5rem 2.3rem;
    border-radius: 15px;
    animation: MoveUpDown 1s linear infinite;
}
  
@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

.characterOnboarding div:hover {
    animation: none;
    color: rgb(232, 94, 193);
}

.floor {
    width: 100vw;
    background-color: var(--blue);
    height: 100vh;
}