.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nameInput {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--foreground);
    background: transparent;
    outline: none;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--blue);
    font-size: 1rem;
}

.imagesContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.imageContainer {
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--foreground);
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
}

.imageContainer:hover {
    transform: translateY(-5px);
}

.clicked {
    background: var(--blue);
}

.image {
    width: 90px;
    height: auto;
}

.submitProfile {
    margin-top: 2rem;
}

/* Large screens */
@media (min-width: 1024px) {
    .nameInput {
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    .submitProfile {
        margin-top: 3rem;
    }
}

/* Medium screens */
@media (min-width: 667px) and (max-width: 1024px) {
    .nameInput {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
    }
    .submitProfile {
        margin-top: 2.5rem;
    }
}